<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>pitching_checker</title>
</head>


<style type="text/css">
    body {
        margin: 0;
        padding: 0;
    }
    .container {
        text-align: center;
        margin-top: 360px;
        font-family: 'Courier New', monospace;
        font-size: 20px;
    }
    .btn {
        font-family: 'Courier New', monospace;
        font-weight: 900;
        border: 1px solid #3498db;
        background: none;
        padding: 10px 20px;
        font-size: 20px;
        cursor: pointer;
        margin: 10px;
        transition: 0.8s;
        position: relative;
        overflow: hidden;
        outline: auto;
        outline-style: round;
    }
    .btn:hover{
        color: #fff;
    }
    .btn::before {
        content: "";
        position: absolute;
        left: 0;
        width: 100%;
        height: 0%;
        background: #3498db;
        z-index: -1;
        transition: 0.8s;
        top: 0;
        border-radius: 0 0 50% 50%;
    }
    .btn:hover::before {
        height: 180%;
    }

</style>


<body>
	<div class="container">
        <p class="directive">
            <h2>
                Click of the specific button to initiate the data transfer
            </h2>
        </p>
        
		<button class="btn" id="btn-4H">4H</button>
		<button class="btn" id="btn-Mobi">Mobi</button>
        <button class="btn" id="btn-One">One</button>
		<button class="btn" id="btn-TW">TW</button>
		<button class="btn" id="btn-TH">TH</button>
		<button class="btn" id="btn-IPRL">IPRL</button>
		<button class="btn" id="btn-App">App</button>
		<button class="btn" id="btn-Tplus">T+</button>
		<button class="btn" id="btn-CT">CT</button>
		<button class="btn" id="btn-VE">VE</button>
		<button class="btn" id="btn-AMT">AMT</button>
		<button class="btn" id="btn-MPF">MPF</button>
		<button class="btn" id="btn-FP">FP</button>
		<button class="btn" id="btn-Can">Can</button>
		
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script type="text/javascript">
            
            // 4H, Mobi, One, TW, TH, IPRL, App, T+, CT, VE, AMT, MPF, FP, Can 
            var button4H = document.getElementById('btn-4H');
            var buttonMobi = document.getElementById('btn-Mobi');
            var buttonOne = document.getElementById('btn-One');
            var buttonTW = document.getElementById('btn-TW');
            var buttonTH = document.getElementById('btn-TH');
            var buttonIPRL = document.getElementById('btn-IPRL');
            var buttonApp = document.getElementById('btn-App');
            var buttonTplus = document.getElementById('btn-Tplus');
            var buttonCT = document.getElementById('btn-CT');
            var buttonVE = document.getElementById('btn-VE');
            var buttonAMT = document.getElementById('btn-AMT');
            var buttonMPF = document.getElementById('btn-MPF');
            var buttonFP = document.getElementById('btn-FP');
            var buttonCan = document.getElementById('btn-Can');


            button4H.onclick = function() {
                $.ajax({
                    url: '/4H', // to transfer data to 4H from DB
                    type: 'GET', // get req to backend
                    success: function(res) { // get the response from backend
                        console.log(res);
                    },
                    error: function(error) {
                        console.log(`error ${error}`);
                    }
                })
			}


            buttonMobi.onclick = function() {
                $.ajax({
                    url: '/Mobi', // to transfer data to 4H from DB
                    type: 'GET', // get req to backend
                    success: function(res) { // get the response from backend
                        console.log(res);
                    },
                    error: function(error) {
                        console.log(`error ${error}`);
                    }
                })
			}


            buttonOne.onclick = function() {
                $.ajax({
                    url: '/One', // to transfer data to 4H from DB
                    type: 'GET', // get req to backend
                    success: function(res) { // get the response from backend
                        console.log(res);
                    },
                    error: function(error) {
                        console.log(`error ${error}`);
                    }
                })
			}


            buttonTH.onclick = function() {
                $.ajax({
                    url: '/TH', // to transfer data to 4H from DB
                    type: 'GET', // get req to backend
                    success: function(res) { // get the response from backend
                        console.log(res);
                    },
                    error: function(error) {
                        console.log(`error ${error}`);
                    }
                })
			}


            buttonTW.onclick = function() {
                $.ajax({
                    url: '/TW', // to transfer data to 4H from DB
                    type: 'GET', // get req to backend
                    success: function(res) { // get the response from backend
                        console.log(res);
                    },
                    error: function(error) {
                        console.log(`error ${error}`);
                    }
                })
			}


            buttonIPRL.onclick = function() {
                $.ajax({
                    url: '/IPRL', // to transfer data to 4H from DB
                    type: 'GET', // get req to backend
                    success: function(res) { // get the response from backend
                        console.log(res);
                    },
                    error: function(error) {
                        console.log(`error ${error}`);
                    }
                })
			}


            buttonApp.onclick = function() {
                $.ajax({
                    url: '/App', // to transfer data to 4H from DB
                    type: 'GET', // get req to backend
                    success: function(res) { // get the response from backend
                        console.log(res);
                    },
                    error: function(error) {
                        console.log(`error ${error}`);
                    }
                })
			}


            buttonTplus.onclick = function() {
                $.ajax({
                    url: '/Tplus', // to transfer data to 4H from DB
                    type: 'GET', // get req to backend
                    success: function(res) { // get the response from backend
                        console.log(res);
                    },
                    error: function(error) {
                        console.log(`error ${error}`);
                    }
                })
			}


            buttonCT.onclick = function() {
                $.ajax({
                    url: '/CT', // to transfer data to 4H from DB
                    type: 'GET', // get req to backend
                    success: function(res) { // get the response from backend
                        console.log(res);
                    },
                    error: function(error) {
                        console.log(`error ${error}`);
                    }
                })
			}


            buttonVE.onclick = function() {
                $.ajax({
                    url: '/VE', // to transfer data to 4H from DB
                    type: 'GET', // get req to backend
                    success: function(res) { // get the response from backend
                        console.log(res);
                    },
                    error: function(error) {
                        console.log(`error ${error}`);
                    }
                })
			}


            buttonAMT.onclick = function() {
                $.ajax({
                    url: '/AMT', // to transfer data to 4H from DB
                    type: 'GET', // get req to backend
                    success: function(res) { // get the response from backend
                        console.log(res);
                    },
                    error: function(error) {
                        console.log(`error ${error}`);
                    }
                })
			}


            buttonMPF.onclick = function() {
                $.ajax({
                    url: '/MPF', // to transfer data to 4H from DB
                    type: 'GET', // get req to backend
                    success: function(res) { // get the response from backend
                        console.log(res);
                    },
                    error: function(error) {
                        console.log(`error ${error}`);
                    }
                })
			}


            buttonFP.onclick = function() {
                $.ajax({
                    url: '/FP', // to transfer data to 4H from DB
                    type: 'GET', // get req to backend
                    success: function(res) { // get the response from backend
                        console.log(res);
                    },
                    error: function(error) {
                        console.log(`error ${error}`);
                    }
                })
			}


            buttonCan.onclick = function() {
                $.ajax({
                    url: '/Can', // to transfer data to 4H from DB
                    type: 'GET', // get req to backend
                    success: function(res) { // get the response from backend
                        console.log(res);
                    },
                    error: function(error) {
                        console.log(`error ${error}`);
                    }
                })
			}





        </script>
	</div>
</body>
</html>


		